@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800;900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-color: #1e293b;
    --primary-color: #3b82f6;
}


body, html, #root {
    width: 100%;
    height: 100%;
}


body {
    font-family: 'Nunito', sans-serif;
    line-height: 1.5;
    background-color: var(--background-color);
    color: #fff;
}

.inline {
    background: none;
    border: none;
    font-family: inherit;
    outline: none;
    cursor: pointer;
    color: var(--primary-color);
    display: inline-block;
    padding-left: 0.3125rem;
    font-size: 1rem;
}


.container {
    width: 80%;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
}

/* Auth Form */

.auth-form {
    background: #fff;
    padding: 1.25rem;
    border-radius: 0.3125rem;
    border: 1px solid #e6e6e6;
    color: #333;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.navbar-picture {
    border-radius: 50%;
}

.circle {
    width: 50px;
    height: 50px;
    font-size: 1.5rem;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background: purple;
    border-radius: 50%;
}

.auth-form form div {
    position: relative;
}

header {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
    justify-content: center;
    align-items: center;
}

header h2 {
    font-weight: 800;
}

header .auth-icon {
    font-size: 3rem;
}

.auth-form input {
    width: 300px;
}

.auth-form .btn {
    text-transform: uppercase;
}

.auth-form span {
    cursor: pointer;
    color: #999;
    text-transform: uppercase;
    font-size: 0.9rem;
    padding: 0.5rem;
    border-radius: 0.3125rem;
    align-self: flex-end;
    text-align: right;
    display: inline-block;
    transition: all .3s ease;
}

.auth-form span:hover {
    background: #e6e6e6;
}

.show-icon {
    position: absolute;
    top: 0.625rem;
    right: 0.625rem;
    font-size: 1.5rem;
    cursor: pointer;
    color: #333;
}

.show-icon:hover {
    opacity: 0.8;
}

.btn {
    font-family: inherit;
    cursor: pointer;
    padding: 0.625rem 1.25rem;
    background: #333;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 0.3125rem;
    text-transform: capitalize;
    letter-spacing: .5px;
    font-size: 1rem;
    font-weight: 800;
    transition: all 0.3s ease;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
}

.btn:hover {
    transform: scale(0.99);
}

nav {
    height: 3.75rem;
    display: flex;
    padding: 0 2rem;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    width: 100%;
    border-radius: 3.125rem;
    color: #333;
}

nav > div {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.link {
    text-decoration: none;
    font-weight: 800;
    color: #333;
}

.link:hover {
    opacity: 0.8;
}

nav h1 {
    font-size: 2rem;
    font-weight: 900;
}

nav img {
    height: 90%;
    object-fit: cover;
}


.grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 3rem;
    width: 100%;
}

.form {
    background: #fff;
    border-radius: 0.3125rem;
    padding: 1.25rem;
    color: #333;
}

.form h2 {
    text-align: center;
    margin-bottom: 0.625rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    
}

.form-control {
    font-family: inherit;
    padding: 0.625rem;
}

textarea {
    resize: none;
    height: 150px;
}


.posts-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 1.25rem; 
}

.post {
    width: 325px;
    background: #fff;
    border-radius: 0.625rem;
    color: #333;
    display: flex;
    flex-direction: column;
    position: relative;
}

.post .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 325px;
    height: 200px;
    background: rgba(0, 0, 0, .4);
    color: #fff;
    padding: 1.25rem;
    display: flex;
    flex-direction: column;
    text-transform: capitalize;
    gap: 0.3125rem;
}

.post .edit {
    position: absolute;
    top: 1.25rem;
    right: 1.25rem;
    color: #fff;
    padding: 0.625rem;
    cursor: pointer;
    display: flex;
    gap: 2px;
}

.edit:hover {
    opacity: 0.8;
}
.dot {
    background: #fff;
    border-radius: 50%;
    width: 5px;
    height: 5px;
}


.post .thumbnail-wrapper {
    width: 100%;
    height: 200px;
    border-top-left-radius: 0.625rem;
    border-top-right-radius: 0.625rem;
}

.post img {
    border-top-left-radius: 0.625rem;
    border-top-right-radius: 0.625rem;
    width: 100%;
    height: 100%;
}

.post-info {
    padding: 1.25rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.post-info h3 {
    font-size: 2rem;
    font-weight: 800;
    text-transform: capitalize;
}

.tags {
    color: #777;
}

.buttons-wrapper {
    display: flex;
    justify-content: space-between;
}

.buttons-wrapper span {
    background: none;
    border: none;
    opacity: none;
    display: flex;
    gap: 0.625rem;
    cursor: pointer;
    font-size: inherit;
    border-radius: 0.3125rem;
    padding: 0.625rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    color: var(--primary-color);
}

.buttons-wrapper span:hover {
    background: #e6e6e6;

}


@media (max-width: 768px) {
    

    .grid {
       grid-template-columns: 1fr;
    }

    .posts-container {
        justify-content: center;
        gap: 2rem;
    }

    .form-wrapper {
        grid-row-start: 1;
        grid-row-end: 2;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .form {
        width: 400px;
    }
}



